@CHARSET "UTF-8";

.recorder * {
	background-color: white;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.recorder {
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid black;
	z-index: 1000;
	background-color: white;
	overflow: auto;
	resize: both;
	min-height: 2.6em;
	min-width: 10em;
	height: 25em;
	width: 20em;
}

.recorder.dragged {
	opacity: 0.8;
}

.recorder .recordButton {
	display: block;
	margin: 0.5em auto;
	padding: 0.5em;
	border-radius: 0.25em;
}

.recorder .recordButton.active {
	background-color: red;
}

.recorder .iframeWrapper {
	top: 95px;
	position: absolute;
	left: 2px;
	right: 2px;
	bottom: 18px;
	border: medium none;
}

.recorder iframe {
	border: 1px solid #FFFFFF;
	height: 100%;
	width: 100%;
	margin-bottom: 1em;
}

.recorder .titleBar {
	text-align: center;
	border: none;
	cursor: move;
	color: #f60;
	font-weight: bold;
	padding: 5px;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 97%, #000000
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfff4),
		color-stop(40%, #dfe5d7), color-stop(97%, #b3bead),
		color-stop(100%, #000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 97%,
		#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 97%, #000000
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 97%, #000000
		100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 97%, #000000
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#fcfff4',
		endColorstr='#000000', GradientType=0); /* IE6-9 */
}